modules = ["c-clang14", "cpp-clang14", "nodejs-20", "python-3.12"]
run = "python app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python app.py"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
