{% extends "base.html" %}
{% block title %}Edit Auction{% endblock %}
{% block content %}
    <h2>Edit Auction</h2>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('auction.edit', auction_id=auction.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.starting_bid.label(class="form-label") }}
            {{ form.starting_bid(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.image.label(class="form-label") }}
            {{ form.image(class="form-control-file") }}
        </div>
        <div class="form-group">
            {{ form.end_time.label(class="form-label") }}
            {{ form.end_time(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Update Auction</button>
    </form>
{% endblock %}
