{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
    <h2>Admin Dashboard</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>Manage Auctions</h3>
            <ul class="list-group">
                {% for auction in auctions %}
                    <li class="list-group-item">
                        <a href="{{ url_for('auction.details', auction_id=auction.id) }}">{{ auction.title }}</a>
                        <span class="badge badge-primary float-right">${{ auction.current_bid }}</span>
                        <a href="{{ url_for('admin.delete_auction', auction_id=auction.id) }}" class="btn btn-danger btn-sm float-right mr-2">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Manage Users</h3>
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">
                        {{ user.username }}
                        <a href="{{ url_for('admin.delete_user', user_id=user.id) }}" class="btn btn-danger btn-sm float-right">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
